.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: 1000;
}

.modal {
  background-color: #f4f4f4;
  padding: 2rem;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}

.btn {
  border: none;
  color: #f4f4f4;
  padding: 20px;
  cursor: pointer;
  font-size: 16px;
}

.btn-submit {
  font-weight: 600;
  border-radius: 5px;
}

.btn-close {
  background-color: #f4f4f4;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content img {
  width: 100%;
  border-radius: 5px;
}

.modal-footer {
  display: flex;
  justify-content: space-evenly;
}

label {
  padding-top: 20px;
}

.duration-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 45px;
  padding: 10px 0;
}

.duration-box button {
  color: black;
  background-color: #f4f4f4;
  font-size: 25px;
}

.duration-box input {
  height: 100%;
  padding: 0;
  border: none;
  padding: 0;
  text-align: center;
  width: 40%;
  border-radius: 5px;
}

/* Media Query */
@media (min-width: 768px) {
  .modal {
    background-color: #f4f4f4;
    width: 50%;
    height: 50%;
  }
}

@media (min-width: 900px) {
  .modal {
    background-color: #f4f4f4;
    width: 40%;
    height: 50%;
  }
}
@media (min-width: 1200px) {
  .modal {
    background-color: #f4f4f4;
    width: 30%;
    height: 50%;
  }
}
@media (min-width: 1400px) {
  .modal {
    background-color: #f4f4f4;

    width: 30%;
    height: 50%;
  }
}
