/* Navbar generale */
header {
  width: 100vw;
  height: 10vh;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
}

/* Logo */
.logo img {
  height: 40px;
  width: 35px;
}

/* Pulsante hamburger (solo su mobile) */
.hamburger-btn {
  display: block;
  color: #f4f4f4;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: none;
}

/* Menu Mobile */
.menu-mobile {
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  height: calc(100vh - 10vh);
  background: #000000;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 0;
}

.menu-mobile ul {
  list-style: none;
  padding: 0;
  text-align: center;
  /* margin-top: 10vh; */
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; */
}

.menu-mobile li {
  margin: 1.5rem 0;
}

.menu-mobile a,
.menu-mobile button {
  color: #f4f4f4;
  text-decoration: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
}
button {
  margin: 0;
  padding: 0;
}

/* Menu Desktop */
.menu-desktop {
  display: none;
}

/* Media Query */
@media (min-width: 900px) {
  .hamburger-btn {
    display: none;
  }

  .menu-mobile {
    display: none;
  }

  .menu-desktop {
    display: flex;
  }

  .menu-desktop ul {
    display: flex;
    gap: 2rem;
    list-style: none;
  }

  .menu-desktop li {
    display: inline-block;
  }

  .menu-desktop a,
  .menu-desktop button {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    border: none;
    background: none;
    cursor: pointer;
  }

  .menu-desktop button:hover,
  .menu-desktop a:hover {
    color: #ccc;
  }
}
